version: '3.7'
services:
  zookeeper: 
    image: 'zookeeper:3.6.3' 
    container_name: 'zookeeper'
    ports:
      - '2181:2181' 
  kafka: 
    image: 'confluentinc/cp-kafka:6.2.0'
    container_name: 'kafka'
    depends_on:
      - zookeeper
    ports: 
      - '9092:9092'
    environment:
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://localhost:9092'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'